body {
    margin: 40px 0;
}

#comments {
    max-height: 480px;
    overflow: scroll;
}

#likers {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#likers p {
    display:inline;
    padding-left: 5px;
}

.modal-dialog {
    max-width: 1024px!important;
    width:auto!important;
}

.modal-header img {
    margin-right: 5px;
    margin-left: 5px;
    float: left
}

.img-circle {
    margin:5px 5px 5px 0;
}

.results {
    padding: 40px 0;
}